html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.section {
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
}
/* imagenes de frontend */
.image{
    margin: 25px auto;
    width: 200px;
    height: 200px;
}
/* titulo de front y back */
.t-front{
  font-size: 38px;
  padding: 20px;
  text-align: center;
  text-shadow: 2px 2px 2px #2D93B5;
}

/* imagen de inicio */
.hero{
  border-radius: 10%;
  margin: 25px auto;
  border: 1px solid #91acda;
  box-shadow: 7px 7px 15px #5bc0de; 
}

.logo{
  border-radius: 50%;
  width: 70px;
  height: 70px;
}
